In [5]:
import pandas as pd
import numpy as np

In [6]:
# Create a Series
pd.Series(np.random.randn(5), index={'a','b','c','d','e'})

d    2.986368
e    0.211054
a    1.116036
b    0.204739
c   -0.352476
dtype: float64

In [7]:
s = pd.Series(np.random.randn(5), index={'a','b','c','d','e'})

In [8]:
print s

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-8-ff1a9e6c21c5>, line 1)

In [9]:
print (s)

d   -0.813346
e   -0.290918
a    1.561781
b    0.343401
c   -1.304207
dtype: float64

In [10]:
print (s[0])

-0.81334579275

In [11]:
print (s[0])
print ("\n")
print (s[:3])
print ("\n")
print (s[:-1])

-0.81334579275


d   -0.813346
e   -0.290918
a    1.561781
dtype: float64


d   -0.813346
e   -0.290918
a    1.561781
b    0.343401
dtype: float64

In [12]:
df = pd.DataFrame(s, columns = {'Column 1'})
df

   Column 1
d -0.813346
e -0.290918
a  1.561781
b  0.343401
c -1.304207

In [13]:
df['Column 2'] = df['Column 1'] *4
df

   Column 1  Column 2
d -0.813346 -3.253383
e -0.290918 -1.163670
a  1.561781  6.247123
b  0.343401  1.373603
c -1.304207 -5.216828

In [14]:
df.sort_values(by = 'Column 2')

   Column 1  Column 2
c -1.304207 -5.216828
d -0.813346 -3.253383
e -0.290918 -1.163670
b  0.343401  1.373603
a  1.561781  6.247123

In [15]:
df(df['Column 2'] <= 2)

TypeError: 'DataFrame' object is not callable

In [16]:
df[df['Column 2'] <= 2]

   Column 1  Column 2
d -0.813346 -3.253383
e -0.290918 -1.163670
b  0.343401  1.373603
c -1.304207 -5.216828

In [17]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean  -0.100658 -0.402631
std    1.112828  4.451311
min   -1.304207 -5.216828
25%   -0.813346 -3.253383
50%   -0.290918 -1.163670
75%    0.343401  1.373603
max    1.561781  6.247123